.main {
  min-height: 374px;
}
.main > .comment {
  text-align: right;
  margin-top: 60px;
  font-size: 17px;
  color: #666;
}
.main ul {
  list-style-type: none;
  padding: 0;
  padding-top: 4px;
}
.main ul li {
  position: relative;
  padding: 25px 0 20px;
  border-bottom: 1px solid #ddd;
}
.main ul li:first-child {
  margin-top: -30px;
}
.main h2,
.main h3 {
  letter-spacing: 1px;
  margin: 0;
  text-transform: uppercase;
}
.main h2 {
  font-size: 20px;
  letter-spacing: 1px;
  margin-left: 120px;
}
.main h2 a {
  color: #666;
}
.main h2 a:hover {
  color: #f33;
}
.main h3 {
  font-size: 13px;
  color: #666;
  position: absolute;
  left: 0;
  top: 25px;
}
@media screen and (max-width: 420px) {
  .main h2 {
    font-size: 16px;
    margin-left: 0;
  }
  .main h2 a:hover {
    color: #f66;
  }
  .main h3 {
    font-size: 11px;
    position: static;
    margin-bottom: 5px;
  }
  .main ul li {
    padding: 0;
    padding-bottom: 5px;
    margin-bottom: 5px;
  }
  .main ul li:first-child {
    margin-top: -35px;
  }
}
